.site-header {position:static}
.menu-toggle {display:none}
@media(max-width:960px) {
    .header-inner {flex-wrap:wrap;padding-block:20px;gap:20px}
    .navigation {display:flex;position:static;flex-direction:row;flex-wrap:wrap;gap:8px 20px;padding:0;border:0;overflow:visible;max-height:none;width:100%}
    .navigation>a:not(.button) {font-size:12px;border:0;padding-block:8px}
    .navigation .button {margin-top:0}
}
